# apiVersion v2 is Helm 3
---
apiVersion: v2
name: api-gateway
version: 1.3.1
appVersion: api-gateway-2.4.2
description: ML. Airflow API Gateway
icon: https://secure.gravatar.com/avatar/71a5efd69d82e444129ad18f51224bbb.jpg
keywords:
  - regula
  - regulaforensics
  - api-gateway
dependencies:
  - name: postgresql
    version: 11.9.13
    repository: "https://charts.bitnami.com/bitnami"
    condition: postgresql.enabled
  - name: redis
    version: 17.11.2
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
maintainers:
  - email: support@regulaforensics.com
    name: Regula Forensics Support
    url: https://support.regulaforensics.com
type: application
